<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý sản phẩm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <style>
        .table-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        header {
            background: #1D453E;
            padding: 0 20px;
        }

        header ul{
            height: 100%;
        }

        header .nav-link,  header a{
            color: #fff;
            text-decoration: none;
        }

        header .nav-link:hover, header a:hover{
            color: #ddd;
        }

        .table th {
            background-color: #f2f2f2;
            font-weight: normal;
        }

        .table-options {
            background: #193A37;
            padding: 10px;
        }

        .table-options form .btn-search {
            background: #2E6762;
            border-radius: 0;
            color: #fff;
        }

        .table-options form input {
            border-radius: 0;
        }

        .table-options form input:focus, .table-options form input:hover {
            box-shadow: none;
            outline: none;
            border: none;
        }

        .table-options .btn-trans {
            background-color: transparent;
            border: none;
            outline: none;
            color: #fff;
        }
    </style>
</head>

<body>
    <header class="d-flex justify-content-between text-white">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/xeOto">Quản lý sản phẩm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tinTuc">Quản lý tin tức</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lichHen">Lịch được đặt</a>
            </li>
        </ul>
        <div>
            <div class="mb-0 fw-bold fs-5">xin chào, ABC</div>
            <p class="mb-0"><a href="#">Đăng xuất</a></p>
        </div>
    </header>
    <div class="p-5">
        <%- body %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>