<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="/Public/css/home.css">
    <link rel="icon" type="image/x-icon" href="/Documents/CarLogo.png">
    <script src="/config/config.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/Public/css/header.css">
    <link rel="stylesheet" href="/Public/css/footer.css">
    <script src="/Public/JS/header.js" defer ></script>
</head>
<body>
<!-- Slideshow container -->
<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="/Public/images/SlideShow/img5.png" style="width: 100%;">
    </div>
    <div class="mySlides fade">
        <img src="/Public/images/SlideShow/img2.png" style="width: 100%;">
    </div>
    <div class="mySlides fade">
        <img src="/Public/images/SlideShow/img3.jpg" style="width: 100%;">
    </div>
    <div class="mySlides fade">
        <img src="/Public/images/SlideShow/img4.webp" style="width: 100%;">
    </div>
    <div class="mySlides fade">
        <img src="/Public/images/SlideShow/img1.jpg" style="width: 100%;">
    </div>
    <!-- Nút điều hướng -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>
<script src="/Public/JS/slideshow.js"></script>

<br><br>
<!-- Recent Product shower container -->
<div class="product-recent-container">
    <h1>Xe mới về</h1>
    <div class="grid">
        <div class="card">
            <img src="/Public/images/BMW.webp" alt="Car">
            <div class="card-content">
                <p class="card-title">BMW 320i Sport Line 2024</p>
                <p class="card-price">1.600.000.000</p>
                <p class="card-details">
                    📅 2024 / 🚗 20,000 km / ⛽ Xăng
                </p>
            </div>
        </div>
        <div class="card">
            <img src="/Public/images/BMW.webp" alt="Car">
            <div class="card-content">
                <p class="card-title">BMW 320i Sport Line 2024</p>
                <p class="card-price">1.600.000.000</p>
                <p class="card-details">
                    📅 2024 / 🚗 20,000 km / ⛽ Xăng
                </p>
            </div>
        </div>
        <div class="card">
            <img src="/Public/images/BMW.webp" alt="Car">
            <div class="card-content">
                <p class="card-title">BMW 320i Sport Line 2024</p>
                <p class="card-price">1.600.000.000</p>
                <p class="card-details">
                    📅 2024 / 🚗 20,000 km / ⛽ Xăng
                </p>
            </div>
        </div>
        <div class="card">
            <img src="/Public/images/BMW.webp" alt="Car">
            <div class="card-content">
                <p class="card-title">BMW 320i Sport Line 2024</p>
                <p class="card-price">1.600.000.000</p>
                <p class="card-details">
                    📅 2024 / 🚗 20,000 km / ⛽ Xăng
                </p>
            </div>
        </div>
        <div class="card">
            <img src="/Public/images/BMW.webp" alt="Car">
            <div class="card-content">
                <p class="card-title">BMW 320i Sport Line 2024</p>
                <p class="card-price">1.600.000.000</p>
                <p class="card-details">
                    📅 2024 / 🚗 20,000 km / ⛽ Xăng
                </p>
            </div>
        </div>
        <div class="card">
            <img src="/Public/images/BMW.webp" alt="Car">
            <div class="card-content">
                <p class="card-title">BMW 320i Sport Line 2024</p>
                <p class="card-price">1.600.000.000</p>
                <p class="card-details">
                    📅 2024 / 🚗 20,000 km / ⛽ Xăng
                </p>
            </div>
        </div>
        <div class="card">
            <img src="/Public/images/BMW.webp" alt="Car">
            <div class="card-content">
                <p class="card-title">BMW 320i Sport Line 2024</p>
                <p class="card-price">1.600.000.000</p>
                <p class="card-details">
                    📅 2024 / 🚗 20,000 km / ⛽ Xăng
                </p>
            </div>
        </div>
        <div class="card">
            <img src="/Public/images/BMW.webp" alt="Car">
            <div class="card-content">
                <p class="card-title">BMW 320i Sport Line 2024</p>
                <p class="card-price">1.600.000.000</p>
                <p class="card-details">
                    📅 2024 / 🚗 20,000 km / ⛽ Xăng
                </p>
            </div>
        </div>
        <div class="card">
            <img src="/Public/images/BMW.webp" alt="Car">
            <div class="card-content">
                <p class="card-title">BMW 320i Sport Line 2024</p>
                <p class="card-price">1.600.000.000</p>
                <p class="card-details">
                    📅 2024 / 🚗 20,000 km / ⛽ Xăng
                </p>
            </div>
        </div>
    </div>
    <br>
    <a href="#" class="button">Xem thêm sản phẩm</a>
</div>

<!-- Why us container -->
<br>
<div class="why-choose-us-container">
    <div class="image-placeholder">
        <img src="/Documents/CarLogo.png" alt="Image">
    </div>
    <div class="content">
        <h2>Vì sao chọn chúng tôi?</h2>
        <p>
            là đơn vị chuyên hoạt động trong lĩnh vực kinh doanh các loại xe, đặc biệt là xe Ôtô Siêu Lướt.
            Với tiêu chí tập trung vào những xe có số ODO (Km) thấp, ít năm sử dụng, còn bảo hành chính hãng và giá cả tối ưu nhất.
            Tất cả các xe bán ra đều được trải qua quy trình kiểm tra nghiêm ngặt để đảm bảo tiêu chuẩn chất lượng cũng như độ an toàn cho khách hàng.
            Ngoài ra, công ty sẽ ký văn bản cam kết để bảo đảm sự minh bạch, trung thực với khách hàng, giúp khách hàng tăng thêm sự yên tâm và tin tưởng vào sản phẩm dịch vụ của chúng tôi.
        </p>
    </div>
</div>

<!-- Review container -->
 <br>
<div class="reviews-container">
    <div class="reviews-header">
        <h2>Đánh giá của khách hàng</h2>
    </div>
    <div class="slider-wrapper">
        <div class="slider" id="slider">
            <div class="review">
                <img src="/Public/images/pro5-picture.jpg" alt="Anh Nam">
                <h3>Anh Nam</h3>
                <p>“Tư vấn nhiệt tình, thân thiện”</p>
            </div>
            <div class="review">
                <img src="/Public/images/pro5-picture.jpg" alt="Chị Hằng">
                <h3>Chị Hằng</h3>
                <p>“Dịch vụ chu đáo, chuyên nghiệp”</p>
            </div>
            <div class="review">
                <img src="/Public/images/pro5-picture.jpg" alt="Anh Tuấn">
                <h3>Anh Tuấn</h3>
                <p>“Giá cả hợp lý, chất lượng tốt”</p>
            </div>
            <div class="review">
                <img src="/Public/images/pro5-picture.jpg" alt="Chị Mai">
                <h3>Chị Mai</h3>
                <p>“Sẽ quay lại lần sau”</p>
            </div>
            <div class="review">
                <img src="/Public/images/pro5-picture.jpg" alt="Anh Minh">
                <h3>Anh Minh</h3>
                <p>“Rất hài lòng với dịch vụ”</p>
            </div>
        </div>
        <div class="buttons">
            <button class="button" id="prevBtn">&#10094;</button>
            <button class="button" id="nextBtn">&#10095;</button>
        </div>
    </div>
</div>
<script src="/Public/JS/reviewSlider.js"></script>

<!-- News container -->
<br><br>
<div class="news-container">
    <div class="news-header">
        <h2>Tin tức</h2>
    </div>
    <div class="news-item">
        <img src="/Public/images/Audi.webp" alt="Audi">
        <div class="news-content">
            <div class="news-date">30/10/2024</div>
            <div class="news-title">AUDI - ĐỊNH HÌNH THƯƠNG HIỆU XE ĐẲNG CẤP</div>
            <div class="news-summary">Audi - một trong những thương hiệu xe hơi hàng đầu thế giới, không chỉ nổi tiếng với những chiếc xe sang trọng và hiện đại...</div>
        </div>
    </div>
    <div class="news-item">
        <img src="/Public/images/Audi.webp" alt="Audi">
        <div class="news-content">
            <div class="news-date">30/10/2024</div>
            <div class="news-title">AUDI - ĐỊNH HÌNH THƯƠNG HIỆU XE ĐẲNG CẤP</div>
            <div class="news-summary">Audi - một trong những thương hiệu xe hơi hàng đầu thế giới, không chỉ nổi tiếng với những chiếc xe sang trọng và hiện đại...</div>
        </div>
    </div>
    <div class="news-item">
        <img src="/Public/images/Audi.webp" alt="Audi">
        <div class="news-content">
            <div class="news-date">30/10/2024</div>
            <div class="news-title">AUDI - ĐỊNH HÌNH THƯƠNG HIỆU XE ĐẲNG CẤP</div>
            <div class="news-summary">Audi - một trong những thương hiệu xe hơi hàng đầu thế giới, không chỉ nổi tiếng với những chiếc xe sang trọng và hiện đại...</div>
        </div>
    </div>
</div>

<br><br>
<!-- GG Maps container -->
<div class="map-container">
    <iframe id="mapFrame" allowfullscreen="" loading="lazy"></iframe>
</div>
<script>
    document.getElementById('mapFrame').src = mapConfig.url;
</script>

<br><br>
<!-- Footer -->
<div id="footer-container"></div>
<script src="/Public/JS/footer.js"></script>
</body>
</html>