<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức chi tiết</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/Public/css/header.css">
        <link rel="stylesheet" href="/Public/css/footer.css">
        <script src="/Public/JS/header.js" defer ></script>
        <link rel="stylesheet" href="/Public/css/detail-news.css">
</head>

<body>


    <div class="news-detail-header">
        <a onclick="history.back()" class="back-btn"> Quay lại</a>
        <h1>Tin tức</h1>
    </div>

    <div class="news-content">
        <h2>XE ĐIỆN MERCEDES-BENZ THIẾT LẬP KỶ LỤC 1000 KM</h2> <!-- Tiêu đề -->
        <p class="news-date"> <i class="fa-solid fa-clock"></i>20/10/2025</p>
        <hr>
        <p class="news-description">
            Dù mới chỉ ở dạng concept, Mercedes-Benz Vision EXXX đã đạt thành tích mà nhiều mẫu xe điện khát khao: khả
            năng đi hơn 1.000km băng qua sa mạc mà không cần sạc. Ngay cả trong thời tiết khắc nghiệt ở sa mạc, ​​ô tô
            điện Mercedes-Benz có thể di chuyển 1.000 km tới chỉ trong một lần sạc
        </p>
    </div>


    <br><br>
    <!-- Footer -->
    <div id="footer-container"></div>
    <script src="/Public/JS/footer.js"></script>
    <script src="/Public/JS/news-detail.js"></script>
</body>

</html>