/* footer.css */
.footer {
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 20px;
    color: #333;
}

.footer-left {
    flex: 0 0 auto;
    margin-right: 20px;
}


.footer-main {
    flex: 1;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px;
    text-align: left;
}

.footer-column h4 {
    font-size: 16px;
    font-weight: bold;
}

.footer-column p, .footer-column address {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.footer-social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-social-icons img {
    width: 24px;
    margin: 0 5px;
    cursor: pointer;
}

.footer-certification img {
    width: 80px;
    margin-top: 10px;
}
